window#osd {
  padding: 0;
  border-radius: 999px;
  border: none;
  background: alpha(#04232A, 0.8); }
  window#osd #container {
    margin: 4px 12px 4px 4px; }
  window#osd image,
  window#osd label {
    color: #FFFFFF; 
    -gtk-icon-transform: scale(0.8); }
  window#osd progressbar:disabled,
  window#osd image:disabled {
    background: #073642; }
  window#osd progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none; }
  window#osd trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #073642; }
  window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #8000FF; }
